<div class="gridListdemoDynamicTiles gridListdemoDynamicTilesHome" ng-init="app.stateLoader('page')">
   <md-content ng-repeat="items in app.grids" ng-if="app.urlParser(items.name) == app.pageName">
      <h4 class="md-toolbar-tools md-toolbar-tools-heading">{{items.name}}</h4>
                 <md-content class="md-padding" layout="row" flex="100">
                 
               <div layout="column" style="min-width: 180px;" flex="80" ng-repeat="grid in items.list">

                  <md-card flex="100">
                     <md-menu style="    position: relative;
    right: -121px;
    width: 51px;
    top: 0;
    height: 15px;">
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                           <md-icon md-svg-icon="img/icons/menu.svg" style="    color: #296490;"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                           <md-menu-item>
                              <md-button ng-click="app.redial($event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 Quick Link 1
                              </md-button>
                           </md-menu-item>
                           <md-menu-item>
                              <md-button ng-click="app.redial($event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 Quick Link 2
                              </md-button>
                           </md-menu-item>
                           <md-menu-divider></md-menu-divider>
                           <md-menu-item>
                              <md-button ng-click="app.redial($event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 Quick Link 3
                              </md-button>
                           </md-menu-item>
                        </md-menu-content>
                     </md-menu>

                     <img ng-src="img/university/{{grid.img}}.svg" class="md-card-image" style="padding:10%;" alt="Washed Out">
                     <md-card-actions layout-align="center center">

                        <h5 style="text-align:center; margin-top:0; margin-bottom:0;">{{grid.name}}</h5>

                     </md-card-actions>
                  </md-card>
               </div>

            </md-content>
      
   </md-content>
</div>