<!---- for android ---->
<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.retailer.dom"
		versionCode = "400"
		CFBundleVersion = "2.6.0.1"
        version     = "2.6.0.1" >

<!---- for ios ---->
<!--<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.retailer.dominos"
		CFBundleVersion = "1.0.10"
        version     = "1.0.10" >-->

    <!-- versionCode is optional and Android only -->
    <icon src="icon.png" />
	<splash src="splash.png" />

	

	<!-- Plugins -->

	<!-- Core plugins -->
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	

  <name>Domino's Pizza Pakistan</name>
    <description>Ordering your favorite pizza has never been easier.</description>
    <author href="http://dominos.com.pk/" email="anum.ishtiaq@bramerz.pk">Anum Ishtiaq</author>
	<preference name="prerendered-icon" value="true"/>
	<access origin="*" />
    <content src="index.html" />
</widget>