<div ng-cloak>
   <md-content>
      
      <md-tabs md-dynamic-height md-swipe-content>
         <md-tab label="FC University">
            <md-content class="md-padding" layout-xs="column" layout="column">
               <div layout="column">
                  <div flex="100" layout="{{ vm.direction }}" layout-md="row" class="two">

                    <div flex="100">
                     <md-card flex="100">
                        <img ng-src="img/about.png" class="md-card-image" alt="Washed Out">
                        <md-card-actions layout="row" layout-align="center center">
                           <h4>About FCCU</h4>
                           <md-button class="md-icon-button" aria-label="Favorite">
                              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                           </md-button>
                           <md-menu>
                              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 1
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 2
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-divider></md-menu-divider>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 3
                                    </md-button>
                                 </md-menu-item>
                              </md-menu-content>
                           </md-menu>
                           <md-button class="md-icon-button" aria-label="Share">
                              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                           </md-button>
                        </md-card-actions>
                     </md-card>
                        <md-card flex="100">
                           <img ng-src="img/people.jpg" class="md-card-image" alt="Washed Out">
                           <md-card-actions layout="row" layout-align="center center">
                              <h4>People at FCCU</h4>
                              <md-button class="md-icon-button" aria-label="Favorite">
                                 <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                              </md-button>
                              <md-menu>
                                 <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 </md-button>
                                 <md-menu-content width="4">
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 1
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 2
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 3
                                       </md-button>
                                    </md-menu-item>
                                 </md-menu-content>
                              </md-menu>
                              <md-button class="md-icon-button" aria-label="Share">
                                 <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                              </md-button>
                           </md-card-actions>
                        </md-card>
                     <md-card flex="100">
                        <img ng-src="img/news.jpg" class="md-card-image" alt="Washed Out">
                        <md-card-actions layout="row" layout-align="center center">
                           <h4>News Update</h4>
                           <md-button class="md-icon-button" aria-label="Favorite">
                              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                           </md-button>
                           <md-menu>
                              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 1
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 2
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-divider></md-menu-divider>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 3
                                    </md-button>
                                 </md-menu-item>
                              </md-menu-content>
                           </md-menu>
                          

                           <md-button class="md-icon-button" aria-label="Share">
                              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                           </md-button>
                        </md-card-actions>
                     </md-card>
                    </div>
                   
                     
                   
                  </div>
               </div>
           
            </md-content>
         </md-tab>
         <md-tab label="Admission">
         <md-content class="md-padding" layout-xs="column" layout="column">
            <div layout="column">
               <div flex="100" layout="{{ vm.direction }}" layout-md="row" class="two">

                  <div flex="100">
                     <md-card flex="100">
                        <img ng-src="img/admission.jpg" class="md-card-image" alt="Washed Out">
                        <md-card-actions layout="row" layout-align="center center">
                           <h4>Admissions</h4>
                           <md-button class="md-icon-button" aria-label="Favorite">
                              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                           </md-button>
                           <md-menu>
                              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 1
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 2
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-divider></md-menu-divider>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 3
                                    </md-button>
                                 </md-menu-item>
                              </md-menu-content>
                           </md-menu>
                           <md-button class="md-icon-button" aria-label="Share">
                              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                           </md-button>
                        </md-card-actions>
                     </md-card>
                     <md-card flex="100">
                        <img ng-src="img/finacial.jpg" class="md-card-image" alt="Washed Out">
                        <md-card-actions layout="row" layout-align="center center">
                           <h4>Financial Aid</h4>
                           <md-button class="md-icon-button" aria-label="Favorite">
                              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                           </md-button>
                           <md-menu>
                              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 1
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 2
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-divider></md-menu-divider>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 3
                                    </md-button>
                                 </md-menu-item>
                              </md-menu-content>
                           </md-menu>
                           <md-button class="md-icon-button" aria-label="Share">
                              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                           </md-button>
                        </md-card-actions>
                     </md-card>
                     <md-card flex="100">
                        <img ng-src="img/tution-fee.jpg" class="md-card-image" alt="Washed Out">
                        <md-card-actions layout="row" layout-align="center center">
                           <h4>Tution Fee</h4>
                           <md-button class="md-icon-button" aria-label="Favorite">
                              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                           </md-button>
                           <md-menu>
                              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 1
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 2
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-divider></md-menu-divider>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 3
                                    </md-button>
                                 </md-menu-item>
                              </md-menu-content>
                           </md-menu>


                           <md-button class="md-icon-button" aria-label="Share">
                              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                           </md-button>
                        </md-card-actions>
                     </md-card>
                     <md-card flex="100">
                        <img ng-src="img/residence.jpg" class="md-card-image" alt="Washed Out">
                        <md-card-actions layout="row" layout-align="center center">
                           <h4>Residential Life</h4>
                           <md-button class="md-icon-button" aria-label="Favorite">
                              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                           </md-button>
                           <md-menu>
                              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                 <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 1
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 2
                                    </md-button>
                                 </md-menu-item>
                                 <md-menu-divider></md-menu-divider>
                                 <md-menu-item>
                                    <md-button ng-click="app.redial($event)">
                                       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                       Quick Link 3
                                    </md-button>
                                 </md-menu-item>
                              </md-menu-content>
                           </md-menu>


                           <md-button class="md-icon-button" aria-label="Share">
                              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                           </md-button>
                        </md-card-actions>
                     </md-card>
                  </div>



               </div>
            </div>

         </md-content>
         </md-tab>
         <md-tab label="Event">
            <md-content class="md-padding" layout-xs="column" layout="column">
               <div layout="column">
                  <div flex="100" layout="{{ vm.direction }}" layout-md="row" class="two">

                     <div flex="100">
                        <md-card flex="100">
                           <img ng-src="img/event.jpeg" class="md-card-image" alt="Washed Out">
                           <md-card-actions layout="row" layout-align="center center">
                              <h4>Events Calendar</h4>
                              <md-button class="md-icon-button" aria-label="Favorite">
                                 <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                              </md-button>
                              <md-menu>
                                 <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 </md-button>
                                 <md-menu-content width="4">
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 1
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 2
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 3
                                       </md-button>
                                    </md-menu-item>
                                 </md-menu-content>
                              </md-menu>
                              <md-button class="md-icon-button" aria-label="Share">
                                 <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                              </md-button>
                           </md-card-actions>
                        </md-card>
                        <md-card flex="100">
                           <img ng-src="img/acadamic.jpg" class="md-card-image" alt="Washed Out">
                           <md-card-actions layout="row" layout-align="center center">
                              <h4>Academic Calendar</h4>
                              
                              <md-menu>
                                 <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 </md-button>
                                 <md-menu-content width="4">
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 1
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 2
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 3
                                       </md-button>
                                    </md-menu-item>
                                 </md-menu-content>
                              </md-menu>
                              <md-button class="md-icon-button" aria-label="Share">
                                 <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                              </md-button>
                           </md-card-actions>
                        </md-card>
                        <md-card flex="100">
                           <img ng-src="img/today.jpeg" class="md-card-image" alt="Washed Out">
                           <md-card-actions layout="row" layout-align="center center">
                              <h4>Today’s Events</h4>
                              <md-button class="md-icon-button" aria-label="Favorite">
                                 <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                              </md-button>
                              <md-menu>
                                 <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 </md-button>
                                 <md-menu-content width="4">
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 1
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 2
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 3
                                       </md-button>
                                    </md-menu-item>
                                 </md-menu-content>
                              </md-menu>


                              <md-button class="md-icon-button" aria-label="Share">
                                 <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                              </md-button>
                           </md-card-actions>
                        </md-card>
                     </div>



                  </div>
               </div>

            </md-content>
         </md-tab>
         <md-tab label="Courses">
            <md-content class="md-padding" layout-xs="column" layout="column">
               <div layout="column">
                  <div flex="100" layout="{{ vm.direction }}" layout-md="row" class="two">

                     <div flex="100">
                        <md-card flex="100">
                           <img ng-src="img/faculties.jpg" class="md-card-image" alt="Washed Out">
                           <md-card-actions layout="row" layout-align="center center">
                              <h4>Academic Faculties</h4>
                              
                              <md-menu>
                                 <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 </md-button>
                                 <md-menu-content width="4">
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 1
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 2
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 3
                                       </md-button>
                                    </md-menu-item>
                                 </md-menu-content>
                              </md-menu>
                              <md-button class="md-icon-button" aria-label="Share">
                                 <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                              </md-button>
                           </md-card-actions>
                        </md-card>
                        <md-card flex="100">
                           <img ng-src="img/departments.jpg" class="md-card-image" alt="Washed Out">
                           <md-card-actions layout="row" layout-align="center center">
                              <h4>Academic Departments</h4>

                              <md-menu>
                                 <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 </md-button>
                                 <md-menu-content width="4">
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 1
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 2
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 3
                                       </md-button>
                                    </md-menu-item>
                                 </md-menu-content>
                              </md-menu>
                              <md-button class="md-icon-button" aria-label="Share">
                                 <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                              </md-button>
                           </md-card-actions>
                        </md-card>
                        <md-card flex="100">
                           <img ng-src="img/courses.jpg" class="md-card-image" alt="Washed Out">
                           <md-card-actions layout="row" layout-align="center center">
                              <h4>Academic Courses</h4>
                              <md-button class="md-icon-button" aria-label="Favorite">
                                 <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                              </md-button>
                              <md-menu>
                                 <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                 </md-button>
                                 <md-menu-content width="4">
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 1
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 2
                                       </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                       <md-button ng-click="app.redial($event)">
                                          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                          Quick Link 3
                                       </md-button>
                                    </md-menu-item>
                                 </md-menu-content>
                              </md-menu>


                              <md-button class="md-icon-button" aria-label="Share">
                                 <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                              </md-button>
                           </md-card-actions>
                        </md-card>
                     </div>



                  </div>
               </div>

            </md-content>
         </md-tab>
      </md-tabs>
   </md-content>
</div>