<div  layout="column"  ng-cloak ng-init="app.stateLoader()">
<div  ng-cloak>

   <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
         <h2 style="width:100%;">{{app.pageStatic[app.pageName].name}}</h2>
         <md-icon ng-style="{color: '#fff'}" class="material-icons step ng-binding md-24 pull-right" role="img">info</md-icon>

      </div>
   </md-toolbar>

   <md-content layout-padding  class="pageContents">
      <div>
            <p dir="ltr" ng-if="app.pageStatic[app.pageName].address"><md-icon ng-style="{color: '#000'}" class="material-icons step ng-binding md-24" role="img">address</md-icon>{{app.pageStatic[app.pageName].address}}</p>
            
            <p dir="ltr" ng-if="app.pageStatic[app.pageName].link"><md-icon ng-style="{color: '#000'}" class="material-icons step ng-binding md-24" role="img">webiste</md-icon><a href="{{app.pageStatic[app.pageName].link}}">{{app.pageStatic[app.pageName].link}}</a></p>
            
            <p dir="ltr" ng-if="app.pageStatic[app.pageName].message"><md-icon ng-style="{color: '#000'}" class="material-icons step ng-binding md-24" role="img">message</md-icon>{{app.pageStatic[app.pageName].message}}</p>
           
            <p dir="ltr" ng-if="app.pageStatic[app.pageName].phone"><b><md-icon ng-style="{color: '#000'}" class="material-icons step ng-binding md-24" role="img">phone</md-icon>{{app.pageStatic[app.pageName].phone}}</b></p>
           
            <p dir="ltr" ng-if="app.pageStatic[app.pageName].email"><b><md-icon ng-style="{color: '#000'}" class="material-icons step ng-binding md-24" role="img">email</md-icon>{{app.pageStatic[app.pageName].email}}</b></p>

        
         
      </div>
   </md-content>

</div>

</div>