<div  layout="column" style="height:600px" ng-cloak>


  <md-content flex style="background:#fff;">
    
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="(key,item) in app.societies">
        <div class="md-list-item-text" ng-click="app.openLink(item.website)">
         <md-subheader class="md-no-sticky">
            <p class="socities_title">{{item.name}}</p>
         
         </md-subheader>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>

    </md-list>
  </md-content>

</div>